.containerBody {
  display: flex;
  height: auto;
  flex-direction: row;
}
.title-map {
  width: 50%;
}
.conatinerTop {
  display: flex;
}
.pictures {
  flex: 1;
  width: 50%;
  float: right;
  align-self: flex-end;
}
#pictures {
  margin-left: -80px;
  margin-top: 250px;
  float: right;
  align-items: flex-end;
}
.rev {
  position: absolute;
  padding-top: 20px;
  display: flex;
  width: 100%;
}
.sidebar {
  display: flex;
  height: 50%;
  margin-top: 40%;
  width: 25%;
  flex-flow: row wrap;
  display: flex;
  flex-direction: column;
}